[run]
parallel = True
relative_files = True
dynamic_context = test_function
source = src
omit = tests/*

[paths]
source =
    src
    */src
    *\src
    .
    .\\
    .//
    src/
    src\
    */src/
    *\src\
    .\
    ./
    fud-patcher.py
    */fud-patcher.py
    *\fud-patcher.py
    src/fud-patcher.py
    src\fud-patcher.py

[report]
show_missing = True
